@import '../../styles/variables.scss';

.icon {
	color: $secondary-color;

	&.faChevronRight,
	&.icon.faChevronLeft {
		color: #000;
		font-size: 2rem;
		font-weight: 700;
	}

	&.faStar--state-checked {
		color: $selected-state;
	}

	&.faStar--state-unchecked {
		color: $secondary-color;
	}

	&.sortAZ--state-selected,
	&.sortZA--state-selected {
		color: $hover-color;
	}
}