@import '../../styles/variables.scss';

.header {
	display: flex;
	padding: 1.5rem 1.8rem 0.5rem;
	height: 9.5vh;
	border-bottom: thin solid;

	h1 {
		align-self: flex-end;
		margin: 0;
		font-size: 1.5rem;
	}
}

